{% extends 'conex/index.html' %} 

{% block content %}
<ul class="nav fixed-top nav-tabs bg-light justify-content-center nav-fill" id="constitution-tabs" role="tablist" style="margin-top: 65px;">
    <li class="nav-item" role="presentation">
      <a class="nav-link active" id="home-tab" data-bs-toggle="tab" href="#home" type="button" role="tab" aria-controls="home" aria-selected="true">Text</a>
    </li>
    <li class="nav-item" role="presentation">
      <a class="nav-link" id="analysis-tab" data-bs-toggle="tab" href="#analysis" type="button" role="tab" aria-controls="analysis" aria-selected="false">Analysis</a>
    </li>
  </ul>
  <div class="tab-content" id="constitution-tab-content">
    <div class="tab-pane fade show active constitution-text" id="home" role="tabpanel" aria-labelledby="home-tab">{{constitution.constitution_text | safe}}</div>
    <div class="tab-pane fade analysis-chart" id="analysis" role="tabpanel" aria-labelledby="analysis-tab">
        {% include "conex/word_histogram.html" %}
    </div>
  </div>


{% endblock content %}