{% extends 'conex/index.html' %} 

{% block content %}

<div class="homepage-body">
    <h1 class="homepage-title">Constitution</h1> 
    <h1 class="homepage-title">Explorer</h1>
    <div class="compass-img"> 
        {% load static %}<img src="{% static 'conex/images/compass.png' %}" alt="compass" width="80"> 
    </div>
    <p class="homepage-text">Explore a collection of constitutions from nations around the world.</p>
    <div class="row button-row">
        <div class="col">
            <div class="image-box"> 
                {% load static %}<a href="{% url 'conex:map'  %}"><img class="icon-img" src="{% static 'conex/images/map-icon.png' %}" alt="map-icon" width="100"></a>
                <p class="homepage-text clickable">Constitution World Map</p>
            </div>
        </div>
        <div class="col">
            <div class="image-box"> 
                {% load static %}<a href="{% url 'conex:countries'  %}"><img class="icon-img" src="{% static 'conex/images/chart-icon.png' %}" alt="map-icon" width="108"></a>
                <p class="homepage-text clickable">Constitution Text Analysis</p>
            </div>
        </div>
    </div>
    <div class="row">
        <p class="homepage-text">A special thanks to the Constitute Project for providing a comprehensive list of constitutions.</p>
        <p class="homepage-text">Check out the <a style="color: white;" href="https://www.constituteproject.org/?lang=en">Constitute Project</a></p>
    <div>
    
</div>


{% endblock content %}